h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
}
body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F009%2F347%2F983%2Fnon_2x%2Fbig-pile-of-us-dollar-notes-a-lot-of-money-over-transparent-background-3d-rendering-of-bundles-of-cash-png.png&f=1&nofb=1&ipt=1df20b4e01a2bcbffa1225e4f4fc44f4ba87a951f03fd9378d939e5f69502452&ipo=images");
}
